IMG.clonetube{
  position: absolute;
  top: 8px;
  left: 16px;
  height: 300px;
  weight: 300px;
}

h1.videomaintencetime {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
IMG.maintenance {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
